<a href="https://colab.research.google.com/github/jadhav-prathamesh/Project/blob/main/Account_Managment__System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''Account management system
The main objective Account management system is menu based program that take nth number of records from user and then establish database connection,
to create table to insert values to read and print data to update values.to delete records to exits from database connection to fetch the active
and no active account from table, to Create python master class and Functions for each activity, Print and store the result into .csv fle'''

In [4]:
print("Menu : \n1. To establish the database connection \n2. To create table \n3. To insert value \n4. To print and read value \n5. To update value \n6. To delete value \n7. To exit \n8. Invalid choice")
ch = int(input("Enter your choice: "))
if ch == 1:
  Establish_connection()
  print("Connection is established")
elif ch == 2:
  Create_table()
  print("Table is created")
elif ch == 3:
  Insert_value()
  print("Values are inserted")
elif ch == 4:
  Read_value()
  print("Values are read and print from database")
elif ch == 5:
  Update_value()
  print("Values are updated into database")
elif ch == 6:
  Delete_value()
  print("Value is deleted from database")
elif ch == 7:
  exit()
  print("Exit")
else:
  print("Invalid Choice")

Menu :
1. To establish the database connection
2. To create table
3. To insert value
4. To print and read value
5. To update value
6. To delete value
7. To exit
8. Invalid choice
Enter your choice: 1

NameError: name 'Establish_connection' is not defined

In [6]:
import sqlite3

In [7]:
def Establish_connection():
  db = sqlite3.connect("Account.db")
Establish_connection()

In [8]:
def Create_table():
  db = sqlite3.connect("Account.db")

  cursor = db.cursor()
  sql = "create table account(Account_id int, Account_name char(12), Account_size int, Account_duration int, Account_budget int, Status char(20))"
  cursor.execute(sql)
  db.close()

Create_table()

In [13]:
def Insert_value():
  db = sqlite3.connect("Account.db")

  cursor = db.cursor()
  n = int(input("Enter number of elements:"))
  for i in range(0,n):
    Account_id = int(input("Enter Account_id: "))
    Account_name = input("Enter Account_name: ")
    Account_size = int(input("Enter Account_size(No. of resouces): "))
    Account_duration = int(input("Enter Account_duration(Days): "))
    Account_budget = int(input("Enter Account_budget(Days): "))
    Status = input("Enter Status(Active/Non-Active): ")

    sql = "insert into account values(%d,%s,%d,%d,%d,%s)" % ( Account_id,Account_name,Account_size,Account_duration,Account_budget,Status)

    try:
      cursor.execute(sql)
      db.commit()
    except Exception as e:
      print("Error",e)
      db.rollback()
  db.close()
Insert_value()

Enter number of elements:1
Enter Account_id: 100
Enter Account_name: SBI
Enter Account_size(No. of resouces): 4
Enter Account_duration(Days): 5
Enter Account_budget(Days): 999
Enter Status(Active/Non-Active): Active
Error no such column: SBI

In [14]:
#read values
def Read_values():
  db = sqlite3.connect('Account.db')
  cursor = db.cursor()

  sql = "select * from account"

  data = cursor.execute(sql).fetchall()

  for d in data:
    print(d)
Read_values()

In [15]:
#delte value
def Delete_values():
  db = sqlite3.connect('Account.db')

  cursor = db.cursor()


  sql ="delete from account where Account_Duration ='27'"

  try:
    cursor.execute(sql)
    db.commit() #save changes except Exception as e:
  except Exception as e:
    print("error:",e)
    db.rollback() #rollback in case of error
  db.close()
Delete_values()

In [16]:
#update value
def Update_values():
  db = sqlite3.connect('Account.db')

  cursor = db.cursor()

  Account_Budget=int(input("enter Account_Budget:"))

  sql = "update account set Account_Budget=%d"%(Account_Budget)

  try:
    cursor.execute(sql)
    db.commit() #save changes except Exception as e:
  except Exception as e:
    print("error:",e)
    db.rollback() #rollback in case of error
  db.close()
Update_values()

enter Account_Budget:800000

In [17]:
def exit():
  print("Exit")
exit()

Exit

In [18]:
import sqlite3
import pandas as pd
from glob import glob; from os.path import expanduser
conn = sqlite3.connect('Account.db')
cursor = conn.cursor()
clients = pd.read_sql('SELECT * FROM Account' ,conn)
clients.to_csv('csvdata.csv', index=False)

In [21]:
import sqlite3

# Connect to the database
db = sqlite3.connect('Account.db')
cursor = db.cursor()

# Define the SQL query to fetch active and non-active accounts
sql = "SELECT * FROM Account WHERE Status = 1 OR Status = 0"

# Execute the query and fetch the results
cursor.execute(sql)
data = cursor.fetchall()

# Print the fetched data
for d in data:
    print(d)

# Close the database connection
db.close()